body
{
  margin-top: 50px;
}

.img {
  height: 250px;
  width: 250px;
}
.text-center
{
  text-align: center;
}

img.three {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

img.tie {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.main-container {
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background: #333;
  color: #eee;
  font-size: 20px;
  padding: 20px;
}

.bar {
  background-color: #ff5039;
  color: #ff0000;
  height: 50px;
  margin-top: -50px;
}

img.arrowdown {
  height: 50px;
  width: 50px;
}

.jumbotron {
  height: 500px;
}

.position-relative {
  position: relative;
}

.background-city
{
  background: url("../../app/assets/images/city.png") no-repeat;
}

.background-purple
{
  background-color: #BCA7C5;
}

.background-blue
{
  background-color: #2980B9;
}

.purple
{
  color: #BCA7C5;
}

.white-grey
{
  color: #EBE9EC;
}

.blue
{
  color: #2980B9;
}

h3{
  color: #000000;
}

p{
  color: black;
  font-size: 20px;
}

h2 {
  font-size: 50px;
}






/*
.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px;
}
.site-footer {
  background: #a6ff1b;
}

html, body {
  height: 100%;
}

input.ng-invalid {
  border: 3px solid #ffca29;
  color: red;
}

textarea.ng-invalid {
  border: 3px solid #ffca29;
  color: red;
}

#test.ng-invalid {
  color: red;
}


.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
  color: #ffffff;
  background-color: #37d980;
  border-color: #37d980;
  border-radius:0;
  margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
  color: white;
  background-color:#34ca78;
  border-color: #34ca78;
}
h2{color:#34ca78;}
.margin10{margin-bottom:10px; margin-right:10px;}

*/