<pre> {{ companyData | json }} </pre>

<form name="theForm" ng-submit="vm.createCompany()">

    <div class="form-group">
        <label for="name"> Name </label>
        <input ng-model="companyData.name" class="form-control" id="name" placeholder="Alex Jefferson">
    </div>

    <div class="form-group">
        <label for="email"> Email </label>
        <input ng-model="companyData.email" class="form-control" id="email" placeholder="john@example.com">
    </div>

    <div class="form-group">
        <label for="address"> Address </label>
        <input ng-model="companyData.address" class="form-control" id="address" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="phone"> Phone </label>
        <input ng-model="companyData.phone" class="form-control" id="phone" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="postal_code"> Postal Code </label>
        <input ng-model="companyData.postal_code" class="form-control" id="postal_code" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="country"> Country </label>
        <input ng-model="companyData.country" class="form-control" id="country" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="photo"> Photo </label>
        <input type="file" id="photo">
        <p class="help-block"> PNG, JPG, JPEG, GIF only. </p>
    </div>

    <div class="form-group">
        <label for="price"> Price </label>
        <input ng-model="companyData.price" class="form-control" id="price" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>

</form>