<div class="jumbotron background-purple">

    <div class="container">

        <h1 class="text-center"> Projects Start Here </h1>

        <br><br>
        <h3 class="text-center"> We connect dedicated people with dependable companies to get things done. </h3>
        <br><br>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="#" role="button"> Post Project </a>
            <a class="btn btn-primary btn-lg" href="#" role="button"> Browse Project </a>
        </div>

    </div>

</div>
<div class="row bar background-blue">
    <center><img src="app/assets/images/arrowdown.png" class="img-responsive arrowdown" alt="Responsive image"></center>
</div>
<div class="main-container">

    <br><br>

    <!-- row 2-->
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1> How does Wiseproject work? </h1>
        </div>
    </div>

    <br><br>

    <!-- row 2-->
    <div class="row">

        <div class="col-md-4">
            <h2> Post a Contract </h2>
            <p>
                Submit your contract and pick from over 20 different categories

            </p>
            <img src="app/assets/images/post_contract.png" class="img-responsive three" alt="Responsive image">
        </div>

        <div class="col-md-4">
            <h2> Receive proposals </h2>
            <p>
                Get connected with our community of firms that are best fit for you project

            </p>
            <img src="app/assets/images/browse_contracts.png" class="img-responsive three" alt="Responsive image">
        </div>

        <div class="col-md-4">
            <h2> Complete your project! </h2>
            <p>
                Use our Business Intelligence tools to improve upon your next project

            </p>
            <img src="app/assets/images/checkmark.png" class="img-responsive three" alt="Responsive image">
        </div>

    </div>

    <br><br><br><br><br><br>
    <!-- row 2-->
    <div class="row">
        <div class="col-md-2">
            <img src="app/assets/images/tie2.png" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-2">
            <img src="app/assets/images/tie2.png" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-2">
            <img src="app/assets/images/tie2.png" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-6">
            <h2> Find tailored results </h2>
            <p>
                Find Tailored Results - Get results instantly. Using big data we benchmark against other firms to recommend the best firm.
            </p>
            <button type="button" class="btn btn-primary"> Browse Projects </button>
            <button type="button" class="btn btn-primary"> Browse Vendors </button>
        </div>
    </div>

    <div class="row">
        <img src="app/assets/images/clouds.png" class="img-responsive" alt="Responsive image">
    </div>

</div>

<div class="row background-city">
    <img src="app/assets/images/city.png" class="img-responsive position-relative" alt="Responsive image">
</div>

<div class="row">
    <hr>
    <center>
        <h1> Get started for free </h1>
        <button type="button" class="btn btn-primary"> Use Wiseproject </button>
    </center>
    <hr>
</div>

<footer>

    <div class="main-container">

        <div class="row">

            <div class="col-md-2">
                <h1> Wiseproject </h1>
            </div>

            <div class="col-md-5">
                <a href="/#/"><img src="app/assets/images/facebook.png"></a>
                <a href="/#/"><img src="app/assets/images/twitter.png"></a>
                <a href="/#/"><img src="app/assets/images/linkedin.png"></a>
                <a href="/#/"><img src="app/assets/images/googleplus.png"></a>
            </div>

            <div class="col-md-5">
                <a href="#"> About </a>
                <a href="#"> Help </a>
                <a href="#"> Privacy Policy </a>
                <a href="#"> Terms and Conditions </a>
                <a href="#"> Privacy Policy </a>
                <a href="#"> Contact Us </a>
            </div>

        </div>

    </div>

</footer>