<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"> Projects Start Here </h1>
        <h3 class="text-center"> We connect dedicated people with dependable companies to get things done. </h3>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="#" role="button"> Post Project </a>
            <a class="btn btn-primary btn-lg" href="#" role="button"> Browse Project </a>
        </div>
    </div>
</div>

<div class="main-container">

    <!-- row 2-->
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1> How does Wiseproject work? </h1>
        </div>
    </div>

    <!-- row 2-->
    <div class="row">

        <div class="col-md-4">
            <h2> Post a Contract </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
            </p>
            <img src="app/assets/images/post_contract.png" class="img-responsive three" alt="Responsive image">
        </div>

        <div class="col-md-4">
            <h2> Receive proposals </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
            </p>
            <img src="app/assets/images/browse_contracts.png" class="img-responsive three" alt="Responsive image">
        </div>

        <div class="col-md-4">
            <h2> Complete your project! </h2>
            <p>
                Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus.
            </p>
            <img src="app/assets/images/checkmark.png" class="img-responsive three" alt="Responsive image">
        </div>

    </div>

    <br><br><br><br><br><br>
    <!-- row 2-->
    <div class="row">
        <div class="col-md-6">
            <img src="app/assets/images/tie1.png" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-md-6">
            <h2> Find tailored results </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                mollis euismod. Donec sed odio dui.
            </p>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>

    <div class="row">
        <img src="app/assets/images/clouds.png" class="img-responsive" alt="Responsive image">
    </div>

</div>



<div class="row">
    <img src="app/assets/images/city.png" class="img-responsive" alt="Responsive image">
</div>

<div class="row">
    <hr>
    <center>
        <h1> Get started for free </h1>
        <button type="button" class="btn btn-primary"> Use Wiseproject </button>
    </center>
    <hr>
</div>

<footer>

    <div class="main-container">

        <div class="row">

            <div class="col-sm-2">
                <h6> Wiseproject </h6>
            </div>

            <div class="col-sm-6">
                <a href="/#/"><img src="app/assets/images/facebook.png"></a>
                <a href="/#/"><img src="app/assets/images/twitter.png"></a>
                <a href="/#/"><img src="app/assets/images/linkedin.png"></a>
                <a href="/#/"><img src="app/assets/images/googleplus.png"></a>
            </div>

            <div class="col-sm-4">
                <a href="#"> About </a>
                <a href="#"> Help </a>
                <a href="#"> Privacy Policy </a>
                <a href="#"> Terms and Conditions </a>
                <a href="#"> Privacy Policy </a>
                <a href="#"> Contact Us </a>
            </div>

        </div>

    </div>

</footer>